<div class="bg-fix">
	<div class="container">
		<div class="coach-wrap">
			<div class="coach-avtar">
				<div class="coach-pic"><%=image_tag "avtar2.png" %></div>
				<h3>Brian Schmidt</h3>
			</div>
			<p class="coach-desc">The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. The Buddha is made of green jade, suprisingly not of emerald, clothed in gold is approximately 45 cm tall. The Buddha is kept in the Chapel of the Emerald Buddha, which is located on the grounds of the Grand Palace in Bangkok.Legend tells that that the Emerald Buddha was created in Pataliputra, India, which is now the city of Patna in 43 BCE by Nagasena. </p>
			<ul class="Skill-list">
			  <li><div class="skill-tag">Skill 1</div></li>
			  <li><div class="skill-tag">Skill Name 2</div></li>
			  <li><div class="skill-tag">Some Skill Name 4</div></li>
			  <li><div class="skill-tag">Skill 4</div></li>
			  <li><div class="skill-tag">Some Skill Name 4</div></li>
			  <li><div class="skill-tag">Skill Name 2</div></li>
			  <li><div class="skill-tag">Skill 1</div></li>
			  <li><div class="skill-tag">Skill 1</div></li>
			</ul>
			<div class="detail">
				<p><span><i class="zmdi zmdi-phone zmdi-hc-fw"></i> 377-229-4453</span><span><i class="zmdi zmdi-email zmdi-hc-fw"></i> magdalena.abshire@hotmail.com</span></p>
			</div>
			<ul class="social">
				<li><a href="#"><i class="zmdi zmdi-facebook zmdi-hc-fw"></i></a></li>
				<li><a href="#"><i class="zmdi zmdi-twitter zmdi-hc-fw"></i></a></li>
				<li><a href="#"><i class="zmdi zmdi-linkedin zmdi-hc-fw"></i></a></li>
			</ul>
		</div>
	</div>
</div>
