<div class="bg-fix">
	<div class="container">
		<div class="frm-sec flex-box">
			<div class="reg-frm step1" id="step1">
				<div class="white-box small">
          <form>
						<h3 class="frn-title">Sign In</h3>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" >
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" >
            </div>
            <div class="form-group"><button type="submit" class="g-btn block-btn">Next</button></div>
						<div class="log-line">Don’t have an account? <a href="">Register</a></div>
          </form>
        </div>
			</div>
		</div>
	</div>
</div>
