<div class="bg-fix">
	<div class="container">
		<div class="frm-sec flex-box">
			<div class="reg-frm step1" id="step1">
				<div class="white-box small">
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" >
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" >
            </div>
            <div class="form-group">
              <label for="password1">Confirm Password</label>
              <input type="password" class="form-control" id="password1" >
            </div>
            <button type="submit" class="g-btn block-btn">Next</button>
          </form>
        </div><br><br>

        <div class="white-box large">
          <ul class="step-view">
            <li class="first"><span class="step-dote finish"><i class="zmdi zmdi-check zmdi-hc-fw"></i></span></li>
            <li class="second"><span class="step-dote current"><i class="zmdi zmdi-check zmdi-hc-fw"></i></span></li>
            <li class="last"><span class="step-dote"><i class="zmdi zmdi-check zmdi-hc-fw"></i></span></li>
          </ul>
          <form>
            <div class="form-group text-center">
              <div class="pro-pic">
                <div class="pro-img"></div>
								<div class="add-icn"><i class="zmdi zmdi-plus-circle-o zmdi-hc-fw"></i></div>
								<input type="file" class="pic-file" />
              </div>
              <lebel class="upload">Upload avatar</label>
            </div>
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" >
            </div>
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="lname" >
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="text" class="form-control" id="phone" >
            </div>
            <button type="submit" class="g-btn block-btn">Next</button>
          </form>
        </div><br><br>

        <div class="white-box large">
          <ul class="step-view">
            <li class="first"><span class="step-dote finish"><i class="zmdi zmdi-check zmdi-hc-fw"></i></span></li>
            <li class="second"><span class="step-dote finish"><i class="zmdi zmdi-check zmdi-hc-fw"></i></span></li>
            <li class="last"><span class="step-dote current"><i class="zmdi zmdi-check zmdi-hc-fw"></i></span></li>
          </ul>
          <form>
            <div class="form-group">
              <label for="bio">Bio</label>
              <textarea type="text" class="form-control" id="bio" ></textarea>
            </div>
            <div class="form-group social">
              <input type="text" class="form-control" id="fb" placeholder="Past link here">
              <i class="zmdi zmdi-facebook zmdi-hc-fw"></i>
            </div>
            <div class="form-group social">
              <input type="text" class="form-control" id="twit" placeholder="Past link here">
              <i class="zmdi zmdi-twitter zmdi-hc-fw"></i>
            </div>
            <div class="form-group social">
              <input type="text" class="form-control" id="in" placeholder="Past link here">
              <i class="zmdi zmdi-linkedin zmdi-hc-fw"></i>
            </div>
            <button type="submit" class="g-btn block-btn">Next</button>
          </form>
        </div>
			</div>
		</div>
	</div>
</div>
