<div class="payment">
  <div class="container-fluid">
    <div class="white-box">
      <div class="box-body">
        <div class="pay-wrap">
          <div class="pay-icn">
            <svg width="79px" height="58px" viewBox="805 212 79 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="shopping-store" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(805.000000, 212.000000)">
                    <g id="Layer_1">
                        <path d="M21.5171836,57.9684053 L75.3102188,57.9684053 C76.7957227,57.9684053 77.9998477,56.7620053 77.9998477,55.2736947 L77.9998477,22.9368632 C77.9998477,21.4485526 76.7957227,20.2421526 75.3102188,20.2421526 L21.5171836,20.2421526 C20.0316797,20.2421526 18.8275547,21.4485526 18.8275547,22.9368632 L18.8275547,55.2736947 C18.8275547,56.7618526 20.0316797,57.9684053 21.5171836,57.9684053 Z" id="Shape" fill="#87BEC2"></path>
                        <path d="M21.5171836,20.2421526 C20.0316797,20.2421526 18.8275547,21.4485526 18.8275547,22.9368632 L18.8275547,40.4527105 L56.4826641,40.4527105 C59.4535195,40.4527105 61.8619219,38.0397579 61.8619219,35.0632895 L61.8619219,20.2423053 L21.5171836,20.2423053 L21.5171836,20.2421526 Z" id="Shape" fill="#25AE9B"></path>
                        <g id="Group" transform="translate(25.441406, 40.447368)" fill="#E0DCDC">
                            <path d="M32.3861484,2.70005263 L25.662,2.70005263 C24.9193242,2.70005263 24.3171094,2.0967 24.3171094,1.35262105 L24.3171094,1.35262105 C24.3171094,0.608542105 24.9193242,0.00518947368 25.662,0.00518947368 L32.3861484,0.00518947368 C33.1288242,0.00518947368 33.7310391,0.608542105 33.7310391,1.35262105 L33.7310391,1.35262105 C33.7310391,2.0967 33.1288242,2.70005263 32.3861484,2.70005263 Z" id="Shape"></path>
                            <path d="M8.17933594,2.70005263 L1.4551875,2.70005263 C0.712511719,2.70005263 0.110296875,2.0967 0.110296875,1.35262105 L0.110296875,1.35262105 C0.110296875,0.608542105 0.712511719,0.00518947368 1.4551875,0.00518947368 L8.17933594,0.00518947368 C8.92201172,0.00518947368 9.52422656,0.608542105 9.52422656,1.35262105 L9.52422656,1.35262105 C9.52407422,2.0967 8.92201172,2.70005263 8.17933594,2.70005263 Z" id="Shape"></path>
                            <path d="M44.4895547,2.70005263 L37.7654063,2.70005263 C37.0227305,2.70005263 36.4205156,2.0967 36.4205156,1.35262105 L36.4205156,1.35262105 C36.4205156,0.608542105 37.0227305,0.00518947368 37.7654063,0.00518947368 L44.4895547,0.00518947368 C45.2322305,0.00518947368 45.8344453,0.608542105 45.8344453,1.35262105 L45.8344453,1.35262105 C45.8344453,2.0967 45.2323828,2.70005263 44.4895547,2.70005263 Z" id="Shape"></path>
                            <path d="M20.2827422,2.70005263 L13.5585937,2.70005263 C12.815918,2.70005263 12.2137031,2.0967 12.2137031,1.35262105 L12.2137031,1.35262105 C12.2137031,0.608542105 12.815918,0.00518947368 13.5585937,0.00518947368 L20.2827422,0.00518947368 C21.025418,0.00518947368 21.6276328,0.608542105 21.6276328,1.35262105 L21.6276328,1.35262105 C21.6276328,2.0967 21.025418,2.70005263 20.2827422,2.70005263 Z" id="Shape"></path>
                            <path d="M20.2827422,13.4788947 L14.9034844,13.4788947 C14.1608086,13.4788947 13.5585938,12.8755421 13.5585938,12.1314632 L13.5585938,12.1314632 C13.5585938,11.3873842 14.1608086,10.7840316 14.9034844,10.7840316 L20.2827422,10.7840316 C21.025418,10.7840316 21.6276328,11.3873842 21.6276328,12.1314632 L21.6276328,12.1314632 C21.6276328,12.8756947 21.025418,13.4788947 20.2827422,13.4788947 Z" id="Shape"></path>
                            <path d="M16.2482227,8.08947368 L14.903332,8.08947368 C14.1606563,8.08947368 13.5584414,7.48612105 13.5584414,6.74204211 L13.5584414,6.74204211 C13.5584414,5.99796316 14.1606563,5.39461053 14.903332,5.39461053 L16.2482227,5.39461053 C16.9908984,5.39461053 17.5931133,5.99796316 17.5931133,6.74204211 L17.5931133,6.74204211 C17.5931133,7.48612105 16.9908984,8.08947368 16.2482227,8.08947368 Z" id="Shape"></path>
                            <path d="M22.9723711,8.08947368 L21.6274805,8.08947368 C20.8848047,8.08947368 20.2825898,7.48612105 20.2825898,6.74204211 L20.2825898,6.74204211 C20.2825898,5.99796316 20.8848047,5.39461053 21.6274805,5.39461053 L22.9723711,5.39461053 C23.7150469,5.39461053 24.3172617,5.99796316 24.3172617,6.74204211 L24.3172617,6.74204211 C24.3172617,7.48612105 23.7150469,8.08947368 22.9723711,8.08947368 Z" id="Shape"></path>
                            <path d="M39.1102969,13.4788947 L25.662,13.4788947 C24.9193242,13.4788947 24.3171094,12.8755421 24.3171094,12.1314632 L24.3171094,12.1314632 C24.3171094,11.3873842 24.9193242,10.7840316 25.662,10.7840316 L39.1102969,10.7840316 C39.8529727,10.7840316 40.4551875,11.3873842 40.4551875,12.1314632 L40.4551875,12.1314632 C40.4551875,12.8756947 39.8529727,13.4788947 39.1102969,13.4788947 Z" id="Shape"></path>
                        </g>
                        <ellipse id="Oval" fill="#FF6464" cx="26.8965937" cy="49.8842737" rx="4.03451953" ry="4.04214211"></ellipse>
                        <ellipse id="Oval" fill="#FFD782" cx="32.2758516" cy="49.8842737" rx="4.03451953" ry="4.04214211"></ellipse>
                        <path d="M28.241332,49.8842737 C28.241332,48.6919158 28.7664609,47.6311263 29.5862227,46.8913211 C30.405832,47.6311263 30.9311133,48.6919158 30.9311133,49.8842737 C30.9311133,51.0766316 30.4059844,52.1374211 29.5862227,52.8772263 C28.7663086,52.1374211 28.241332,51.0766316 28.241332,49.8842737 Z" id="Shape" fill="#FFA05A"></path>
                        <rect id="Rectangle-path" fill="#707487" x="18.8275547" y="24.2841421" width="59.1724453" height="5.38942105"></rect>
                        <rect id="Rectangle-path" fill="#5B5D6E" x="18.8275547" y="24.2841421" width="43.0345195" height="5.38942105"></rect>
                        <path d="M56.4828164,37.7578474 L2.68962891,37.7578474 C1.204125,37.7578474 0,36.5514474 0,35.0631368 L0,2.72630526 C0,1.23799474 1.204125,0.0315947368 2.68962891,0.0315947368 L56.4826641,0.0315947368 C57.968168,0.0315947368 59.172293,1.23799474 59.172293,2.72630526 L59.172293,35.0631368 C59.1724453,36.5512947 57.968168,37.7578474 56.4828164,37.7578474 Z" id="Shape" fill="#32CAB6"></path>
                        <g id="Group" transform="translate(6.703125, 20.147368)" fill="#FFFFFF">
                            <path d="M13.4693203,2.78949474 L20.1934688,2.78949474 C20.9361445,2.78949474 21.5383594,2.18614211 21.5383594,1.44206316 L21.5383594,1.44206316 C21.5383594,0.697984211 20.9361445,0.0946315789 20.1934688,0.0946315789 L13.4693203,0.0946315789 C12.7266445,0.0946315789 12.1244297,0.697984211 12.1244297,1.44206316 L12.1244297,1.44206316 C12.1244297,2.18614211 12.7266445,2.78949474 13.4693203,2.78949474 Z" id="Shape"></path>
                            <path d="M37.6761328,2.78949474 L44.4002813,2.78949474 C45.142957,2.78949474 45.7451719,2.18614211 45.7451719,1.44206316 L45.7451719,1.44206316 C45.7451719,0.697984211 45.142957,0.0946315789 44.4002813,0.0946315789 L37.6761328,0.0946315789 C36.933457,0.0946315789 36.3312422,0.697984211 36.3312422,1.44206316 L36.3312422,1.44206316 C36.3313945,2.18614211 36.933457,2.78949474 37.6761328,2.78949474 Z" id="Shape"></path>
                            <path d="M1.36591406,2.78949474 L8.0900625,2.78949474 C8.83273828,2.78949474 9.43495312,2.18614211 9.43495312,1.44206316 L9.43495312,1.44206316 C9.43495312,0.697984211 8.83273828,0.0946315789 8.0900625,0.0946315789 L1.36591406,0.0946315789 C0.623238281,0.0946315789 0.0210234375,0.697984211 0.0210234375,1.44206316 L0.0210234375,1.44206316 C0.0210234375,2.18614211 0.623085937,2.78949474 1.36591406,2.78949474 Z" id="Shape"></path>
                            <path d="M25.5727266,2.78949474 L32.296875,2.78949474 C33.0395508,2.78949474 33.6417656,2.18614211 33.6417656,1.44206316 L33.6417656,1.44206316 C33.6417656,0.697984211 33.0395508,0.0946315789 32.296875,0.0946315789 L25.5727266,0.0946315789 C24.8300508,0.0946315789 24.2278359,0.697984211 24.2278359,1.44206316 L24.2278359,1.44206316 C24.2278359,2.18614211 24.8300508,2.78949474 25.5727266,2.78949474 Z" id="Shape"></path>
                        </g>
                        <g id="Group" transform="translate(22.851562, 3.968421)" fill="#EFF2FA">
                            <path d="M1.35540234,2.80002632 L20.182957,2.80002632 C20.9256328,2.80002632 21.5278477,2.19667368 21.5278477,1.45259474 L21.5278477,1.45259474 C21.5278477,0.708515789 20.9256328,0.105163158 20.182957,0.105163158 L1.35540234,0.105163158 C0.612726562,0.105163158 0.0105117187,0.708515789 0.0105117187,1.45259474 L0.0105117187,1.45259474 C0.0105117187,2.19667368 0.612726562,2.80002632 1.35540234,2.80002632 Z" id="Shape"></path>
                            <path d="M9.42428906,8.18944737 L20.182957,8.18944737 C20.9256328,8.18944737 21.5278477,7.58609474 21.5278477,6.84201579 L21.5278477,6.84201579 C21.5278477,6.09793684 20.9256328,5.49458421 20.182957,5.49458421 L9.42428906,5.49458421 C8.68161328,5.49458421 8.07939844,6.09793684 8.07939844,6.84201579 L8.07939844,6.84201579 C8.07939844,7.58624737 8.68161328,8.18944737 9.42428906,8.18944737 Z" id="Shape"></path>
                        </g>
                        <g id="Group" transform="translate(12.035156, 25.489474)" fill="#FFFFFF">
                            <path d="M20.2406953,8.22638421 L25.6199531,8.22638421 C26.3626289,8.22638421 26.9648438,7.62303158 26.9648438,6.87895263 L26.9648438,6.87895263 C26.9648438,6.13487368 26.3626289,5.53152105 25.6199531,5.53152105 L20.2406953,5.53152105 C19.4980195,5.53152105 18.8958047,6.13487368 18.8958047,6.87895263 L18.8958047,6.87895263 C18.8958047,7.62303158 19.4980195,8.22638421 20.2406953,8.22638421 Z" id="Shape"></path>
                            <path d="M24.2752148,2.83681053 L25.6201055,2.83681053 C26.3627812,2.83681053 26.9649961,2.23345789 26.9649961,1.48937895 L26.9649961,1.48937895 C26.9649961,0.7453 26.3627812,0.141947368 25.6201055,0.141947368 L24.2752148,0.141947368 C23.5325391,0.141947368 22.9303242,0.7453 22.9303242,1.48937895 L22.9303242,1.48937895 C22.9303242,2.23361053 23.5325391,2.83681053 24.2752148,2.83681053 Z" id="Shape"></path>
                            <path d="M17.5510664,2.83681053 L18.895957,2.83681053 C19.6386328,2.83681053 20.2408477,2.23345789 20.2408477,1.48937895 L20.2408477,1.48937895 C20.2408477,0.7453 19.6386328,0.141947368 18.895957,0.141947368 L17.5510664,0.141947368 C16.8083906,0.141947368 16.2061758,0.7453 16.2061758,1.48937895 L16.2061758,1.48937895 C16.2061758,2.23361053 16.8083906,2.83681053 17.5510664,2.83681053 Z" id="Shape"></path>
                            <path d="M1.41314063,8.22638421 L14.8614375,8.22638421 C15.6041133,8.22638421 16.2063281,7.62303158 16.2063281,6.87895263 L16.2063281,6.87895263 C16.2063281,6.13487368 15.6041133,5.53152105 14.8614375,5.53152105 L1.41314063,5.53152105 C0.670464844,5.53152105 0.06825,6.13487368 0.06825,6.87895263 L0.06825,6.87895263 C0.06825,7.62303158 0.670464844,8.22638421 1.41314063,8.22638421 Z" id="Shape"></path>
                        </g>
                        <ellipse id="Oval" fill="#FF6464" cx="45.7241484" cy="29.6737158" rx="4.03451953" ry="4.04214211"></ellipse>
                        <ellipse id="Oval" fill="#FFD782" cx="51.1034063" cy="29.6737158" rx="4.03451953" ry="4.04214211"></ellipse>
                        <path d="M47.0690391,29.6737158 C47.0690391,30.8660737 47.594168,31.9268632 48.4139297,32.6666684 C49.2335391,31.9268632 49.7588203,30.8660737 49.7588203,29.6737158 C49.7588203,28.4813579 49.2336914,27.4205684 48.4139297,26.6807632 C47.5940156,27.4205684 47.0690391,28.4812053 47.0690391,29.6737158 Z" id="Shape" fill="#FFA05A"></path>
                        <path d="M14.7930352,17.5474421 L8.06903906,17.5474421 C7.32636328,17.5474421 6.72414844,16.9440895 6.72414844,16.2000105 L6.72414844,12.1578684 C6.72414844,11.4137895 7.32636328,10.8104368 8.06903906,10.8104368 L14.7931875,10.8104368 C15.5358633,10.8104368 16.1380781,11.4137895 16.1380781,12.1578684 L16.1380781,16.2000105 C16.1379258,16.9440895 15.5357109,17.5474421 14.7930352,17.5474421 Z" id="Shape" fill="#FFC36E"></path>
                        <path d="M16.1379258,13.5053 L16.1379258,12.1578684 C16.1379258,11.4137895 15.5357109,10.8104368 14.7930352,10.8104368 L9.41377734,10.8104368 L9.41377734,17.5472895 L13.4482969,17.5472895 L13.4482969,14.8525789 C13.4482969,14.1085 14.0505117,13.5051474 14.7931875,13.5051474 L16.1379258,13.5051474 L16.1379258,13.5053 Z" id="Shape" fill="#FFD782"></path>
                        <ellipse id="Oval" fill="#FF6464" cx="51.1034063" cy="8.11572632" rx="4.03451953" ry="4.04214211"></ellipse>
                    </g>
                </g>
            </svg>
            <div class="check"><i class="zmdi zmdi-check-circle zmdi-hc-fw"></i></div>
          </div>
          <h3 class="pay-title">You should pay now</h3>
          <p class="pay-text">Hypnosis quit smoking methods maintain caused quite a stir in the medical world over the last two decades. There is a lot of argument pertaining.</p>
          <ul class="pay-method">
            <li>
              <svg width="61px" height="40px" viewBox="0 0 61 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <path d="M60.75,35 C60.75,37.75 58.5,40 55.75,40 L5.75,40 C3,40 0.75,37.75 0.75,35 L0.75,5 C0.75,2.25 3,0 5.75,0 L55.75,0 C58.5,0 60.75,2.25 60.75,5 L60.75,35 Z" id="Shape" fill="#F3F4F4"></path>
                      <path d="M1.75,10 L1.75,5 C1.75,2.25 4,0 6.75,0 L54.75,0 C57.5,0 59.75,2.25 59.75,5 L59.75,10" id="Shape" fill="#5565AF"></path>
                      <path d="M59.75,30 L59.75,35 C59.75,37.75 57.5,39 54.75,39 L6.75,39 C4,39 1.75,37.75 1.75,35 L1.75,30" id="Shape" fill="#E6A124"></path>
                      <g transform="translate(15.000000, 14.000000)" id="Shape" fill="#5565AF">
                          <path d="M3.137,9.379 C3.543,8.229 3.828,7.492 3.996,7.168 L7.371,0.293 L9.84,0.293 L3.996,11.715 L1.387,11.715 L0.395,0.293 L2.7,0.293 L3.098,7.168 C3.118,7.402 3.129,7.75 3.129,8.207 C3.117,8.744 3.102,9.135 3.082,9.379 L3.137,9.379 Z"></path>
                          <polygon points="8.809 11.715 11.247 0.293 13.63 0.293 11.192 11.715"></polygon>
                          <path d="M20.934,8.34 C20.934,9.43 20.547,10.289 19.778,10.922 C19.007,11.555 17.962,11.871 16.645,11.871 C15.493,11.871 14.567,11.637 13.864,11.168 L13.864,9.027 C14.868,9.589 15.802,9.871 16.661,9.871 C17.243,9.871 17.7,9.762 18.028,9.539 C18.356,9.318 18.52,9.016 18.52,8.629 C18.52,8.406 18.485,8.209 18.415,8.039 C18.345,7.871 18.243,7.713 18.114,7.566 C17.983,7.42 17.661,7.156 17.145,6.769 C16.426,6.252 15.92,5.744 15.629,5.237 C15.336,4.732 15.191,4.188 15.191,3.604 C15.191,2.932 15.351,2.333 15.675,1.803 C15.997,1.275 16.456,0.864 17.054,0.569 C17.65,0.275 18.335,0.128 19.113,0.128 C20.242,0.128 21.277,0.386 22.215,0.901 L21.363,2.721 C20.551,2.336 19.801,2.143 19.113,2.143 C18.679,2.143 18.326,2.26 18.051,2.495 C17.774,2.729 17.637,3.04 17.637,3.425 C17.637,3.743 17.723,4.021 17.895,4.257 C18.067,4.494 18.452,4.808 19.051,5.198 C19.68,5.615 20.153,6.075 20.465,6.577 C20.777,7.082 20.934,7.668 20.934,8.34 Z"></path>
                          <path d="M28.598,8.996 L24.903,8.996 L23.559,11.715 L21.059,11.715 L27.043,0.246 L29.957,0.246 L31.105,11.715 L28.785,11.715 L28.598,8.996 Z M28.48,6.965 L28.277,4.231 C28.224,3.549 28.199,2.89 28.199,2.254 L28.199,1.973 C27.969,2.598 27.685,3.26 27.347,3.957 L25.878,6.965 L28.48,6.965 Z"></path>
                      </g>
                      <path d="M59.281,1.469 C60.187,2.375 60.75,3.625 60.75,5 L60.75,20 L60.75,35 C60.75,36.375 60.188,37.625 59.281,38.531 C58.374,39.437 57.125,40 55.75,40 L30.75,40 L5.75,40 C4.375,40 3.125,39.438 2.219,38.531 L59.281,1.469 Z" id="Shape" fill="#FFFFFF" opacity="0.04"></path>
                      <path d="M55.75,1 C57.956,1 59.75,2.794 59.75,5 L59.75,35 C59.75,37.206 57.956,39 55.75,39 L5.75,39 C3.544,39 1.75,37.206 1.75,35 L1.75,5 C1.75,2.794 3.544,1 5.75,1 L55.75,1 L55.75,1 Z M55.75,0 L5.75,0 C3,0 0.75,2.25 0.75,5 L0.75,35 C0.75,37.75 3,40 5.75,40 L55.75,40 C58.5,40 60.75,37.75 60.75,35 L60.75,5 C60.75,2.25 58.5,0 55.75,0 L55.75,0 Z" id="Shape" fill="#F8F8F9"></path>
                  </g>
              </svg>
            </li>
            <li>
              <svg width="61px" height="40px" viewBox="80 0 61 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(80.000000, 0.000000)">
                      <path d="M60.75,35 C60.75,37.75 58.5,40 55.75,40 L5.75,40 C3,40 0.75,37.75 0.75,35 L0.75,5 C0.75,2.25 3,0 5.75,0 L55.75,0 C58.5,0 60.75,2.25 60.75,5 L60.75,35 Z" id="Shape" fill="#5565AF"></path>
                      <path d="M59.281,1.469 C60.187,2.375 60.75,3.625 60.75,5 L60.75,20 L60.75,35 C60.75,36.375 60.188,37.625 59.281,38.531 C58.374,39.437 57.125,40 55.75,40 L30.75,40 L5.75,40 C4.375,40 3.125,39.438 2.219,38.531 L59.281,1.469 Z" id="Shape" fill="#FFFFFF" opacity="0.04"></path>
                      <g transform="translate(13.000000, 10.000000)" id="Shape" fill="#EA564B">
                          <path d="M17.75,3.4 C15.917,1.32 13.24,0 10.25,0 C4.728,0 0.25,4.477 0.25,10 C0.25,15.521 4.728,20 10.25,20 C13.24,20 15.917,18.68 17.75,16.599 C16.198,14.837 15.25,12.534 15.25,10 C15.25,7.466 16.198,5.162 17.75,3.4 Z"></path>
                          <path d="M17.75,3.4 C16.198,5.162 15.25,7.467 15.25,10 C15.25,12.533 16.198,14.837 17.75,16.599 C19.302,14.837 20.25,12.534 20.25,10 C20.25,7.466 19.302,5.162 17.75,3.4 Z"></path>
                      </g>
                      <path d="M38.25,10 C35.26,10 32.583,11.32 30.75,13.4 C30.317,13.892 29.938,14.43 29.606,15 L31.894,15 C32.258,15.625 32.541,16.299 32.765,17 L28.721,17 C28.518,17.643 28.371,18.309 28.302,19 L33.181,19 C33.215,19.33 33.249,19.66 33.249,20 C33.249,20.338 33.229,20.671 33.196,21 L28.301,21 C28.37,21.691 28.517,22.357 28.72,23 L32.776,23 C32.553,23.704 32.254,24.372 31.89,25 L29.605,25 C29.936,25.568 30.316,26.107 30.749,26.599 C32.582,28.68 35.259,30 38.249,30 C43.771,30 48.249,25.521 48.249,20 C48.25,14.477 43.772,10 38.25,10 Z" id="Shape" fill="#E9D419"></path>
                      <path d="M55.75,1 C57.956,1 59.75,2.794 59.75,5 L59.75,35 C59.75,37.206 57.956,39 55.75,39 L5.75,39 C3.544,39 1.75,37.206 1.75,35 L1.75,5 C1.75,2.794 3.544,1 5.75,1 L55.75,1 L55.75,1 Z M55.75,0 L5.75,0 C3,0 0.75,2.25 0.75,5 L0.75,35 C0.75,37.75 3,40 5.75,40 L55.75,40 C58.5,40 60.75,37.75 60.75,35 L60.75,5 C60.75,2.25 58.5,0 55.75,0 L55.75,0 Z" id="Shape" fill="#7684B7"></path>
                  </g>
              </svg>
            </li>
            <li>
              <svg width="61px" height="40px" viewBox="160 0 61 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(160.000000, 0.000000)">
                      <g id="Shape">
                          <path d="M60.75,35 C60.75,37.75 58.5,40 55.75,40 L5.75,40 C3,40 0.75,37.75 0.75,35 L0.75,5 C0.75,2.25 3,0 5.75,0 L55.75,0 C58.5,0 60.75,2.25 60.75,5 L60.75,35 Z" fill="#5EC1EC"></path>
                          <path d="M59.281,1.469 C60.187,2.375 60.75,3.625 60.75,5 L60.75,20 L60.75,35 C60.75,36.375 60.188,37.625 59.281,38.531 C58.374,39.437 57.125,40 55.75,40 L30.75,40 L5.75,40 C4.375,40 3.125,39.438 2.219,38.531 L59.281,1.469 Z" fill="#5BBBE6"></path>
                          <g transform="translate(11.000000, 15.000000)" fill="#FFFFFF">
                              <path d="M7.305,9.922 L6.848,8.182 L3.833,8.182 L3.363,9.922 L0.608,9.922 L3.636,0.604 L6.981,0.604 L10.046,9.922 L7.305,9.922 Z M6.328,6.125 L5.928,4.602 C5.834,4.264 5.722,3.827 5.588,3.289 C5.455,2.751 5.367,2.366 5.324,2.134 C5.287,2.35 5.211,2.705 5.099,3.2 C4.987,3.695 4.738,4.671 4.353,6.126 L6.328,6.125 L6.328,6.125 Z"></path>
                              <path d="M15.094,9.922 L13.196,3.237 L13.139,3.237 C13.228,4.375 13.272,5.259 13.272,5.891 L13.272,9.921 L11.051,9.921 L11.051,0.64 L14.389,0.64 L16.326,7.23 L16.377,7.23 L18.274,0.64 L21.62,0.64 L21.62,9.921 L19.315,9.921 L19.315,5.852 C19.315,5.641 19.319,5.407 19.325,5.148 C19.331,4.889 19.36,4.257 19.411,3.25 L19.354,3.25 L17.481,9.922 L15.094,9.922 L15.094,9.922 Z"></path>
                              <polygon points="28.869 9.922 23.359 9.922 23.359 0.641 28.869 0.641 28.869 2.654 25.865 2.654 25.865 4.114 28.646 4.114 28.646 6.126 25.865 6.126 25.865 7.878 28.869 7.878"></polygon>
                              <polygon points="38.854 9.922 35.954 9.922 34.143 7.022 32.354 9.922 29.516 9.922 32.594 5.174 29.699 0.641 32.48 0.641 34.156 3.51 35.767 0.641 38.63 0.641 35.691 5.37"></polygon>
                          </g>
                          <g transform="translate(11.000000, 15.000000)" fill="#FFFFFF">
                              <path d="M7.305,9.922 L6.848,8.182 L3.833,8.182 L3.363,9.922 L0.608,9.922 L3.636,0.604 L6.981,0.604 L10.046,9.922 L7.305,9.922 Z M6.328,6.125 L5.928,4.602 C5.834,4.264 5.722,3.827 5.588,3.289 C5.455,2.751 5.367,2.366 5.324,2.134 C5.287,2.35 5.211,2.705 5.099,3.2 C4.987,3.695 4.738,4.671 4.353,6.126 L6.328,6.125 L6.328,6.125 Z"></path>
                              <path d="M15.094,9.922 L13.196,3.237 L13.139,3.237 C13.228,4.375 13.272,5.259 13.272,5.891 L13.272,9.921 L11.051,9.921 L11.051,0.64 L14.389,0.64 L16.326,7.23 L16.377,7.23 L18.274,0.64 L21.62,0.64 L21.62,9.921 L19.315,9.921 L19.315,5.852 C19.315,5.641 19.319,5.407 19.325,5.148 C19.331,4.889 19.36,4.257 19.411,3.25 L19.354,3.25 L17.481,9.922 L15.094,9.922 L15.094,9.922 Z"></path>
                              <polygon points="28.869 9.922 23.359 9.922 23.359 0.641 28.869 0.641 28.869 2.654 25.865 2.654 25.865 4.114 28.646 4.114 28.646 6.126 25.865 6.126 25.865 7.878 28.869 7.878"></polygon>
                              <polygon points="38.854 9.922 35.954 9.922 34.143 7.022 32.354 9.922 29.516 9.922 32.594 5.174 29.699 0.641 32.48 0.641 34.156 3.51 35.767 0.641 38.63 0.641 35.691 5.37"></polygon>
                          </g>
                      </g>
                      <path d="M55.75,1 C57.956,1 59.75,2.794 59.75,5 L59.75,35 C59.75,37.206 57.956,39 55.75,39 L5.75,39 C3.544,39 1.75,37.206 1.75,35 L1.75,5 C1.75,2.794 3.544,1 5.75,1 L55.75,1 L55.75,1 Z M55.75,0 L5.75,0 C3,0 0.75,2.25 0.75,5 L0.75,35 C0.75,37.75 3,40 5.75,40 L55.75,40 C58.5,40 60.75,37.75 60.75,35 L60.75,5 C60.75,2.25 58.5,0 55.75,0 L55.75,0 Z" id="Shape" fill="#9BCEE0"></path>
                  </g>
              </svg>
            </li>
          </ul>
          <a href="#" class="g-btn">Pay Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
