.payment{
  .box-body{min-height: 80vh;}
}
.pay-wrap{padding: 100px 0;margin: 0 auto;max-width: 550px;text-align: center;
  .pay-icn{position: relative;margin: 0 auto 20px;
    .check{display: none;}
  }
  &.success{
    .pay-icn{height: 125px;width: 125px;border-radius: 50%;position: relative;background: $light-gray;padding: 33px 20px;
      .check{position: absolute;right: 0;bottom: 0;height: 38px;width: 38px;line-height: 38px;font-size: 38px;color: $greenL-clr;display: block;}
    }
  }
  .pay-title{color: $greenL-clr;font-size: 18px;line-height: 24px;margin: 0 0 20px;}
  .pay-text{font-size: 14px;line-height: 20px;color: $nine;margin: 0 0 30px;}
  .g-btn{min-width: 200px;}
  .input-group{max-width: 300px;margin: 0 auto;position: relative;
    .master-icn{position: absolute;top:12px;left: 12px;z-index: 4;}
    .form-control{border: none;padding: 7px 15px 7px 50px;background: $light-gray;outline: none;
      &:focus{outline: none;box-shadow: none;}
    }
    .btn-default{border:none;background: none;font-size: 20px;line-height: 26px;outline: none;;
      &:hover{color: $greenL-clr;outline: none;box-shadow: none;}
      &:focus{outline: none;box-shadow: none;}
    }
  }
  .pay-method{display: block;margin: 0 0 30px;padding: 0;
    li{display: inline-block;margin: 0 3px;}
  }
}

.del-card{text-align: center;
  .icn-wrap{color: $greenL-clr;font-size: 38px;line-height: 38px;margin: 0 0 10px;}
  p{color: $six;font-size: 18px;line-height: 34px;margin: 0 0 30px;font-weight: 400;
    span{color: $greenL-clr;display: block;}
  }
  .g-btn, .gl-btn{min-width: 200px;margin: 0 10px 10px;}
  .g-btn{text-transform: uppercase;}
}
