$clr-white:#fff;
$clr-black:#000;
$clr-primary:#333;
$light-gray:#f5f5f5;
$eee:#eee;
$ddd:#ddd;
$three:#333;
$six:#666;
$nine:#999;
$red:#EE585A;

$blue-clr:#4CB8C4;
$greenD-clr:#22868F;
$greenL-clr:#32C9B5;

$linkV-clr:$greenL-clr;
$hoverH-clr:$greenD-clr;

$title-clr:$greenD-clr;
$titleL-clr:$clr-primary;

$Fbtn-clr:$blue-clr;
$Fbtn-bg:$clr-white;
$Fbtn-bdr:$clr-white;
$Fbtn-Hclr:$clr-white;
$Fbtn-Hbg:none;
$Fbtn-Hbdr:$clr-white;

$Lbtn-clr:$clr-white;
$Lbtn-bg:none;
$Lbtn-bdr:$clr-white;
$Lbtn-Hclr:$blue-clr;
$Lbtn-Hbg:$clr-white;
$Lbtn-Hbdr:$clr-white;

$Gbtn-clr:$clr-white;
$Gbtn-bg:$greenL-clr;
$Gbtn-bdr:$greenL-clr;
$Gbtn-Hclr:$greenL-clr;
$Gbtn-Hbg:$clr-white;
$Gbtn-Hbdr:$greenL-clr;

$GLbtn-clr:$greenL-clr;
$GLbtn-bg:none;
$GLbtn-bdr:$greenL-clr;
$GLbtn-Hclr:$clr-white;
$GLbtn-Hbg:$greenL-clr;
$GLbtn-Hbdr:$greenL-clr;

$step-bg: $clr-white;
$step-clr: $clr-white;
$step-Bclr: $greenL-clr;
$step-Fbg: $greenL-clr;
$step-Fclr: $clr-white;
$step-FBclr: $greenL-clr;
