.account{
  .box-title{border-bottom: solid 1px $eee;padding-bottom: 0;padding-top: 0;}
}
.account-frm{max-width: 600px;margin: 30px auto;
  .g-btn{min-width: 150px;}
}
@media(max-width:767px){
}
@media(max-width:550px){
}
