<div class="account">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="white-box">
          <div class="box-title">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a></li>
              <li role="presentation"><a href="#pass" aria-controls="password" role="tab" data-toggle="tab">Password</a></li>
            </ul>
          </div>
          <div class="box-body">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="account">
                <form class="account-frm">
                  <div class="form-group">
                    <label for="name" class="control-label">Name</label>
                    <input type="text" class="form-control" id="name" value="Carl Wagner">
                  </div>
                  <div class="form-group">
                    <label for="username" class="control-label">User Name</label>
                    <input type="text" class="form-control" id="username" value="Carl">
                  </div>
                  <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control" id="email" value="millie_wolff@gmail.com">
                  </div>
                  <div class="btn-wrap text-right">
                    <button type="submit" class="g-btn">Save</button>
                  </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="pass">
                <form class="account-frm">
                  <div class="form-group">
                    <label for="oldPass" class="control-label">Old Password</label>
                    <input type="password" class="form-control" id="oldPass">
                  </div>
                  <div class="form-group">
                    <label for="newPass" class="control-label">New Password</label>
                    <input type="password" class="form-control" id="newPass">
                  </div>
                  <div class="btn-wrap text-right">
                    <button type="submit" class="g-btn">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
