<div class="main-banner">
	 <div class="container">
    	<div class="row">
        	<div class="col-sm-6 right-side"><div class="baner-img"><img src="images/tablet-stand.png" alt=""></div></div>
            <div class="col-sm-6">
            	<div class="banner-caption flex-box">
                	<div class="inner">
                        <h1 class="banner-title">Greet the <span>guest,</span><br> we’ll do the rest.</h1>
                        <p class="banner-text">With Envoy, it’s simple to collect visitors’ contact information, capture their photo and have them sign legal documents all on the iPad.</p>
                        <a href="#" class="com-btn">Sign up Free</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="scroll"><img src="images/mouse.png" alt=""></a>
    </div>
</div>
