$opensans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
$w-color: #fff;
$lw-color: #ddd;
$b-color: #000;
$p-color: #333;
$l-color: #54DACB;
$lh-color: #3ABBAC;
$btn-color:#4CB8C4;
$t-color:#22868F;
$g-clr: #32C9B5;

@mixin translate($t-val1, $t-val2) {-webkit-transform: translate($t-val1, $t-val2);-moz-transform: translate($t-val1, $t-val2);-ms-transform: translate($t-val1, $t-val2);transform: translate($t-val1, $t-val2);}
@mixin rotate($t-val3){-webkit-transform: rotate($t-val3);-moz-transform: rotate($t-val3);-ms-transform: rotate($t-val3);transform: rotate($t-val3);}
.gradiunt1{background: rgba(91,247,208,1);
background: -moz-linear-gradient(45deg, rgba(91,247,208,1) 0%, rgba(76,184,196,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(91,247,208,1)), color-stop(100%, rgba(76,184,196,1)));
background: -webkit-linear-gradient(45deg, rgba(91,247,208,1) 0%, rgba(76,184,196,1) 100%);
background: -o-linear-gradient(45deg, rgba(91,247,208,1) 0%, rgba(76,184,196,1) 100%);
background: -ms-linear-gradient(45deg, rgba(91,247,208,1) 0%, rgba(76,184,196,1) 100%);
background: linear-gradient(45deg, rgba(91,247,208,1) 0%, rgba(76,184,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bf7d0', endColorstr='#4cb8c4', GradientType=1 );}
.gradiunt2{background: rgba(75,183,195,1);
background: -moz-linear-gradient(45deg, rgba(75,183,195,1) 0%, rgba(89,247,208,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(75,183,195,1)), color-stop(100%, rgba(89,247,208,1)));
background: -webkit-linear-gradient(45deg, rgba(75,183,195,1) 0%, rgba(89,247,208,1) 100%);
background: -o-linear-gradient(45deg, rgba(75,183,195,1) 0%, rgba(89,247,208,1) 100%);
background: -ms-linear-gradient(45deg, rgba(75,183,195,1) 0%, rgba(89,247,208,1) 100%);
background: linear-gradient(45deg, rgba(75,183,195,1) 0%, rgba(89,247,208,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bb7c3', endColorstr='#59f7d0', GradientType=1 );}

::selection{background:$l-color;color:$w-color;}
body{font-family: $opensans;/*padding-top:120px;*/color:$p-color;}

h1, h2, h3, h4, h5, h6{font-family: $opensans; }

*, a, button, input{-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;}
a, a:hover, a:focus{text-decoration:none;outline:none;}
button, button:hover, button:focus, button:active, input, input:hover, input:focus{outline:none;}

a{color:$l-color;}
a:hover{color:$lh-color;}

ul{margin:0;padding:0;list-style:none;}
ul.inline li{display:inline-block;}
ul.block li{display:block;}

$Fbtn-clr:#4CB8C4;
$Fbtn-bg:#fff;
$Fbtn-bdr:#fff;
$Fbtn-Hclr:#fff;
$Fbtn-Hbg:none;
$Fbtn-Hbdr:#fff;

$Lbtn-clr:#fff;
$Lbtn-bg:none;
$Lbtn-bdr:#fff;
$Lbtn-Hclr:#4CB8C4;
$Lbtn-Hbg:#fff;
$Lbtn-Hbdr:#fff;

$Gbtn-clr:#fff;
$Gbtn-bg:#32C9B5;
$Gbtn-bdr:#32C9B5;
$Gbtn-Hclr:#32C9B5;
$Gbtn-Hbg:#fff;
$Gbtn-Hbdr:#32C9B5;

.w-btn{font-size:14px;color:$Fbtn-clr;background:$Fbtn-bg;border:solid 1px $Fbtn-bdr;padding:10px 30px;font-family:$opensans;font-weight:400;line-height:20px;display:inline-block;border-radius: 3px;}
.w-btn:hover{color:$Fbtn-Hclr;background:$Fbtn-Hbg;border:solid 1px $Fbtn-Hbdr;}

.wl-btn{font-size:14px;color:$Lbtn-clr;background:$Lbtn-bg;border:solid 1px $Lbtn-bdr;padding:10px 30px;font-family: $opensans;font-weight:400;line-height:20px;display:inline-block;border-radius: 3px;}
.wl-btn:hover{color:$Lbtn-Hclr;background:$Lbtn-Hbg;border:solid 1px $Lbtn-Hbdr;}

.g-btn{font-size:14px;color:$Gbtn-clr;background:$Gbtn-bg;border:solid 1px $Gbtn-bdr;padding:10px 30px;font-family:$opensans;font-weight:400;line-height:20px;display:inline-block;border-radius: 3px;}
.g-btn:hover{color:$Gbtn-Hclr;background:$Gbtn-Hbg;border:solid 1px $Gbtn-Hbdr;}

.flex-box{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}

.fix-img{position: absolute;left: 50%;top: 50%;@include translate(-50%,-50%);}

.pad-wrap{padding:80px 0;}
.white{background:#fff;}
.gray{background:#f5f5f5;}

.container, .container-fluid{position: relative;z-index: 1;}
@media (min-width: 1430px){.container {width: 1400px;}}
.navbar-default{margin:0;background:$w-color;border:0;border-radius:0;position: absolute;top:0;left:0;right:0;z-index: 2;border-bottom:solid 1px $lw-color;
  .navbar-brand{height: auto;padding: 13px 15px;
    svg{width: 190px;}
  }
  .user-drop{float: right;
    .dropdown-toggle{padding: 10px;vertical-align: middle;display: block;color: $btn-color;
      .user-avtar{width: 50px;height: 50px;overflow: hidden;border-radius: 50%;display: inline-block;vertical-align: middle;margin: 0 0 0 10px;
        img{width: 100%;}
      }
    }
  }
}
.sidebar{position: fixed;left: 0;width: 250px;top:70px;
  .navbar-nav{-webkit-transition: all 0.4s ease;transition: all 0.4s ease;padding: 15px 0;float: none;
    li{float: none;display: block;
      a{color:$g-clr;font-weight:600;font-size:14px;text-transform:uppercase;padding:20px 15px;line-height:20px;position: relative;display: block;}
      a:after{content: '';width: 3px;top:0;position: absolute;left:0px;height: 100%;background: $g-clr;}
      a:hover{color:$w-color;background: $g-clr;cursor: pointer;}
    }
    .active{
      a, a:hover, a:focus{color:$w-color;background:none;font-weight:600;}

    }
    li.s-btn{
      a{color:$btn-color;background:$w-color;padding:7px 30px;border-radius:3px;border:solid 1px $w-color;}
      a:after{display: none;}
      a:hover{background:none;color:$w-color;}
    }
    li.dropdown{margin-left:10px;
      a{border:solid 1px #333;padding:14px 20px;border-radius:50px;background:none !important;}
      a:hover{border:solid 1px #ef4123;}
    }
    .dropdown-menu li{
      a{color:#333;font-weight:700;font-size:16px;}
      a:focus, a:hover{color:#ef4123;}
    }
  }
  .navbar-collapse{max-height:500px;padding: 0;}
  .navbar-toggle{background: none;padding: 0;border: none;margin-top: 25px;width: 22px;height: 22px;
    .icon-bar{height: 3px;background: $w-color;}
  }
  .navbar-toggle.collapsed{
    .icon-bar:nth-child(2){@include rotate(0);}
    .icon-bar:nth-child(4){@include rotate(0);margin-top: 4px;}
    .icon-bar:nth-child(3){display: block;}
  }
  .navbar-toggle{
    .icon-bar:nth-child(2){@include rotate(45deg);}
    .icon-bar:nth-child(4){@include rotate(-45deg);margin-top: -3px;}
    .icon-bar:nth-child(3){display: none;}
  }
  .navbar-toggle:hover{background: none;}
  .navbar-toggle:focus{background: none;}
}
