$opensans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
$w-color: #fff;
$lw-color: #ddd;
$b-color: #000;
$p-color: #333;
$l-color: #54DACB;
$lh-color: #3ABBAC;
$btn-color:#4CB8C4;
$t-color:#22868F;

@mixin translate($t-val1, $t-val2) {-webkit-transform: translate($t-val1, $t-val2);-moz-transform: translate($t-val1, $t-val2);-ms-transform: translate($t-val1, $t-val2);transform: translate($t-val1, $t-val2);}
.gradiunt{background: rgba(91,247,208,1);
background: -moz-linear-gradient(45deg, rgba(91,247,208,1) 0%, rgba(76,184,196,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(91,247,208,1)), color-stop(100%, rgba(76,184,196,1)));
background: -webkit-linear-gradient(45deg, rgba(91,247,208,1) 0%, rgba(76,184,196,1) 100%);
background: -o-linear-gradient(45deg, rgba(91,247,208,1) 0%, rgba(76,184,196,1) 100%);
background: -ms-linear-gradient(45deg, rgba(91,247,208,1) 0%, rgba(76,184,196,1) 100%);
background: linear-gradient(45deg, rgba(91,247,208,1) 0%, rgba(76,184,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bf7d0', endColorstr='#4cb8c4', GradientType=1 );}


::selection{background:$l-color;color:$w-color;}
body{font-family: $opensans;/*padding-top:120px;*/color:$p-color;}

h1, h2, h3, h4, h5, h6{font-family: $opensans; }

*, a, button, input{-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;}
a, a:hover, a:focus{text-decoration:none;outline:none;}
button, button:hover, button:focus, button:active, input, input:hover, input:focus{outline:none;}

a{color:$l-color;}
a:hover{color:$lh-color;}

ul{margin:0;padding:0;list-style:none;}
ul.inline li{display:inline-block;}
ul.block li{display:block;}

.w-btn{font-size:14px;color:$btn-color;background:$w-color;border:solid 1px $w-color;padding:10px 30px;font-family:$opensans;font-weight:400;line-height:20px;display:inline-block;border-radius: 3px;}
.w-btn:hover{background:none;color:$w-color;}

.wl-btn{font-size:14px;color:$w-color;background:none;border:solid 1px $w-color;padding:10px 30px;font-family: $opensans;font-weight:400;line-height:20px;display:inline-block;border-radius: 3px;}
.wl-btn:hover{background:$w-color;color:$btn-color;}

.flex-box{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}

.fix-img{position: absolute;left: 50%;top: 50%;@include translate(-50%,-50%);}

.pad-wrap{padding:80px 0;}
.white{background:#fff;}
.gray{background:#f5f5f5;}

@media (min-width: 1430px){.container {width: 1400px;}}
.navbar-default{margin:0;background:none;border:0;border-radius:0;position: absolute;top:0;left:0;right:0;z-index: 1;
  .navbar-brand{height: auto;padding: 10px 15px;
    svg{width: 190px;}
  }
  .navbar-nav{padding-top:15px;padding-bottom:15px;-webkit-transition: all 0.4s ease;transition: all 0.4s ease;
    li{margin: 0 0 0 40px;
      a{color:$w-color;font-weight:600;font-size:14px;text-transform:uppercase;padding:10px;line-height:20px;position: relative;}
      a:after{content: '';width: 100%;left:0;position: absolute;bottom: -10px;height: 3px;background: $w-color;}
      a:hover{color:$w-color;background:none;cursor: pointer;}
    }
    li:first-child{margin: 0;}
    .active{
      a, a:hover, a:focus{color:#53b9d0;background:none;font-weight:600;}
    }
    li.s-btn{
      a{color:$btn-color;background:$w-color;padding:7px 30px;border-radius:3px;border:solid 1px $w-color;}
      a:after{display: none;}
      a:hover{background:none;color:$w-color;}
    }
    li.dropdown{margin-left:10px;
      a{border:solid 1px #333;padding:14px 20px;border-radius:50px;background:none !important;}
      a:hover{border:solid 1px #ef4123;}
    }
    .dropdown-menu li{
      a{color:#333;font-weight:700;font-size:16px;}
      a:focus, a:hover{color:#ef4123;}
    }
  }
  .navbar-collapse{max-height:500px;}
}


.main-banner{padding:100px 0 200px;position:relative;@extend .gradiunt;
  .banner-caption{min-height:500px;position: relative;z-index: 1;
    .inner{text-align: center;}
    .banner-title{font-size:34px;line-height:44px;color:$w-color;font-weight:700;margin:0 0 40px;}
    .banner-text{font-size:14px;line-height:24px;color:$w-color;font-weight:300;margin:0 0 40px;}
    .banner-text.m0{margin: 0;}
    .w-btn{margin: 0 0 40px;}
  }
}
.main-banner:after{width:100%;content:'';position:absolute;left:0;bottom:0;top:0;right:0;background: asset-url('header-cloud.png') center bottom no-repeat;z-index:0;background-size: 100%;}

.main-title{margin: 0 0 40px;
  h1{font-size:44px;line-height:66px;color:$t-color;font-weight:700;margin:0 0 40px;}
  .title-line{font-size:16px;line-height:26px;color:$p-color;font-weight:400;margin:0;}
}
.main-title.white{background: none;
  h1{color:$w-color;}
  .title-line{color:$w-color;}
}

.feature-wrap{@extend .pad-wrap;padding-bottom: 0;
  .feature-inner{margin: 0 auto;max-width: 1050px;}
  .main-title{margin: 0 auto 100px;max-width: 850px;}
  .feature-block{margin: 0 0 80px;max-width: 400px;
    .feat-icn{height: 100px;width: 100px;margin: 0 0 10px;}
    .feat-title{font-size:18px;line-height:36px;color:$t-color;font-weight:700;margin:0 0 10px;}
    .feat-t{font-size:16px;line-height:26px;color:$p-color;font-weight:400;margin:0;}
  }
}
.topcouch-wrap{@extend .pad-wrap;@extend .gradiunt;padding-bottom: 0;
  .top-block{margin: 0 0 80px;max-width: 400px;
    .top-title{font-size:18px;line-height:36px;color:$w-color;font-weight:700;margin:0 0 10px;}
    .top-t{font-size:16px;line-height:26px;color:$w-color;font-weight:400;margin:0;}
  }
}
