<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <div class="about flex-box">
          <p>TOPCOACHING SOME TEXT HERE ABOUT US OUR MISSON MAYBE OR SOMETHING ELSE</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2 col-md-3">
        <h2 class="foot-title">ABOUT</h2>
        <ul class="foot-link">
          <li><a href="#">Our Mission</a></li>
          <li><a href="#">Company</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-2 col-md-3">
        <h2 class="foot-title">SUPPORT</h2>
        <ul class="foot-link">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-3">
        <h2 class="foot-title">CONTACT</h2>
        <ul class="contact">
          <li><i class="zmdi zmdi-pin zmdi-hc-fw"></i> 77 Yundt Dam Apt. 899</li>
          <li><i class="zmdi zmdi-phone zmdi-hc-fw"></i> 080-530-3247</li>
          <li><i class="zmdi zmdi-email zmdi-hc-fw"></i> schultz_felicia@hotmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->
