<%# react_component("Header") %>




<!-- <nav class="navbar navbar-default">
  <div class="container"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%=image_tag "logo.svg" %>
      </a>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active" id="home"><a href="/">Home</a></li>
        <li id="features"><a href="/landing_page/page2">Features</a></li>
        <li id="sign_in"><a href="/static_pages/login">Sign In</a></li>
        <li class="s-btn"><a href="/static_pages/register">Sign Up</a></li>
      </ul> -->
    <!-- </div> /.navbar-collapse -->
  <!-- </div> /.container-fluid --> 
<!-- </nav> -->
