<!DOCTYPE html>
<html>
  <head>
    <title>CouchDesign</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'pages/landing_page', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <svg viewBox="0 0 192 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <linearGradient x1="7.06091607%" y1="92.0435707%" x2="90.9541681%" y2="12.8154914%" id="linearGradient-1">
                        <stop stop-color="#4CB8C4" offset="0%"></stop>
                        <stop stop-color="#5BF8D0" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Group-2">
                        <g id="Group-3" fill="#FFFFFF">
                            <path d="M42.0349492,28.458042 C42.6557367,27.0130532 43,25.4179057 43,23.7412587 C43,18.0580427 39.0445513,13.311223 33.7717828,12.1747714 C31.6719209,9.05107901 28.1340751,7 24.1235955,7 C17.6802734,7 12.4569288,12.2943111 12.4569288,18.8251748 C12.4569288,19.6293455 12.536125,20.4147676 12.6870431,21.1738656 C9.84174766,23.330294 8,26.772318 8,30.6503497 C8,37.1812134 13.2233446,42.4755245 19.6666667,42.4755245 C20.9757437,42.4755245 22.2344634,42.2569899 23.4092527,41.85395 C25.4899621,43.8065547 28.2741438,45 31.3333333,45 C37.7766554,45 43,39.7056889 43,33.1748252 C43,31.4981782 42.6557367,29.9030307 42.0349492,28.458042 Z" id="Combined-Shape" opacity="0.328634511" transform="translate(25.500000, 26.000000) rotate(30.000000) translate(-25.500000, -26.000000) "></path>
                            <path d="M43.0349492,27.8933566 C43.6557367,26.4863939 44,24.9332239 44,23.3006993 C44,17.7670416 40.0445513,13.1451382 34.7717828,12.0385932 C32.6719209,8.99710325 29.1340751,7 25.1235955,7 C18.6802734,7 13.4569288,12.1549871 13.4569288,18.513986 C13.4569288,19.2969943 13.536125,20.0617474 13.6870431,20.8008691 C10.8417477,22.9005494 9,26.2519939 9,30.027972 C9,36.3869709 14.2233446,41.541958 20.6666667,41.541958 C21.9757437,41.541958 23.2344634,41.3291744 24.4092527,40.9367407 C26.4899621,42.8379611 29.2741438,44 32.3333333,44 C38.7766554,44 44,38.8450129 44,32.486014 C44,30.8534893 43.6557367,29.3003194 43.0349492,27.8933566 Z" id="Combined-Shape" opacity="0.328634511" transform="translate(26.500000, 25.500000) rotate(79.000000) translate(-26.500000, -25.500000) "></path>
                            <path d="M43.0349492,27.8933566 C43.6557367,26.4863939 44,24.9332239 44,23.3006993 C44,17.7670416 40.0445513,13.1451382 34.7717828,12.0385932 C32.6719209,8.99710325 29.1340751,7 25.1235955,7 C18.6802734,7 13.4569288,12.1549871 13.4569288,18.513986 C13.4569288,19.2969943 13.536125,20.0617474 13.6870431,20.8008691 C10.8417477,22.9005494 9,26.2519939 9,30.027972 C9,36.3869709 14.2233446,41.541958 20.6666667,41.541958 C21.9757437,41.541958 23.2344634,41.3291744 24.4092527,40.9367407 C26.4899621,42.8379611 29.2741438,44 32.3333333,44 C38.7766554,44 44,38.8450129 44,32.486014 C44,30.8534893 43.6557367,29.3003194 43.0349492,27.8933566 Z" id="Combined-Shape"></path>
                        </g>
                        <path d="M30.9258721,28.5241477 C30.2063953,29.8025568 28.8546512,30.71875 27.0232558,30.71875 C24.4287791,30.71875 22.619186,28.6946023 22.619186,26.3934659 C22.619186,24.0071023 24.4287791,22.1534091 27.0232558,22.1534091 C28.8982558,22.1534091 30.2718023,23.0269886 30.9694767,24.3480114 L34,22.6221591 C32.6700581,20.4488636 30.184593,19 27.0232558,19 C22.3793605,19 19,22.3664773 19,26.3934659 C19,30.6761364 22.3793605,34 27.0232558,34 C30.1627907,34 32.6264535,32.4019886 33.9563953,30.2286932 L30.9258721,28.5241477 Z" id="C" fill="url(#linearGradient-1)"></path>
                    </g>
                    <path d="M68.7272727,20.2556818 L54,20.2556818 L54,23.4943182 L59.4772727,23.4943182 L59.4772727,34.7443182 L63.25,34.7443182 L63.25,23.4943182 L68.7272727,23.4943182 L68.7272727,20.2556818 Z M77.3409091,20 C72.9090909,20 69.3636364,23.3877841 69.3636364,27.5 C69.3636364,31.6335227 72.9090909,35 77.3409091,35 C81.7272727,35 85.3181818,31.6335227 85.3181818,27.5 C85.3181818,23.3877841 81.7272727,20 77.3409091,20 Z M77.3409091,23.2599432 C79.8181818,23.2599432 81.8636364,25.15625 81.8636364,27.5 C81.8636364,29.8650568 79.8181818,31.7613636 77.3409091,31.7613636 C74.8181818,31.7613636 72.7727273,29.8650568 72.7727273,27.5 C72.7727273,25.15625 74.8181818,23.2599432 77.3409091,23.2599432 Z M94.7954545,20.2556818 L87.6590909,20.2556818 L87.6590909,34.7443182 L91.4090909,34.7443182 L91.4090909,31.4630682 L94.7727273,31.4630682 C98.7272727,31.4630682 100.659091,28.6931818 100.659091,25.8380682 C100.659091,23.0255682 98.75,20.2556818 94.7954545,20.2556818 Z M94.3636364,23.4943182 C95.8636364,23.515625 96.8863636,24.2826705 96.8863636,25.8380682 C96.8863636,27.4147727 95.8636364,28.2457386 94.3636364,28.2457386 L91.4090909,28.2457386 L91.4090909,23.4943182 L94.3636364,23.4943182 Z M120.590909,29.5241477 C119.840909,30.8025568 118.431818,31.71875 116.522727,31.71875 C113.818182,31.71875 111.931818,29.6946023 111.931818,27.3934659 C111.931818,25.0071023 113.818182,23.1534091 116.522727,23.1534091 C118.477273,23.1534091 119.909091,24.0269886 120.636364,25.3480114 L123.795455,23.6221591 C122.409091,21.4488636 119.818182,20 116.522727,20 C111.681818,20 108.159091,23.3664773 108.159091,27.3934659 C108.159091,31.6761364 111.681818,35 116.522727,35 C119.795455,35 122.363636,33.4019886 123.75,31.2286932 L120.590909,29.5241477 Z M132.772727,20 C128.340909,20 124.795455,23.3877841 124.795455,27.5 C124.795455,31.6335227 128.340909,35 132.772727,35 C137.159091,35 140.75,31.6335227 140.75,27.5 C140.75,23.3877841 137.159091,20 132.772727,20 Z M132.772727,23.2599432 C135.25,23.2599432 137.295455,25.15625 137.295455,27.5 C137.295455,29.8650568 135.25,31.7613636 132.772727,31.7613636 C130.25,31.7613636 128.204545,29.8650568 128.204545,27.5 C128.204545,25.15625 130.25,23.2599432 132.772727,23.2599432 Z M154.363636,34.7443182 L158.340909,34.7443182 L151.704545,20.2556818 L147.545455,20.2556818 L140.931818,34.7443182 L144.886364,34.7443182 L145.909091,32.4857955 L153.363636,32.4857955 L154.363636,34.7443182 Z M147.204545,29.6306818 L149.659091,24.21875 L152.068182,29.6306818 L147.204545,29.6306818 Z M171.068182,29.5241477 C170.318182,30.8025568 168.909091,31.71875 167,31.71875 C164.295455,31.71875 162.409091,29.6946023 162.409091,27.3934659 C162.409091,25.0071023 164.295455,23.1534091 167,23.1534091 C168.954545,23.1534091 170.386364,24.0269886 171.113636,25.3480114 L174.272727,23.6221591 C172.886364,21.4488636 170.295455,20 167,20 C162.159091,20 158.636364,23.3664773 158.636364,27.3934659 C158.636364,31.6761364 162.159091,35 167,35 C170.272727,35 172.840909,33.4019886 174.227273,31.2286932 L171.068182,29.5241477 Z M191,20.2556818 L187.25,20.2556818 L187.25,25.8806818 L180.454545,25.8806818 L180.454545,20.2556818 L176.727273,20.2556818 L176.727273,34.7443182 L180.454545,34.7443182 L180.454545,29.1193182 L187.25,29.1193182 L187.25,34.7443182 L191,34.7443182 L191,20.2556818 Z" id="TOP-COACH" fill="#FFFFFF"></path>
                </g>
            </svg>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/landing_page/page2">Features</a></li>
            <li><a href="/static_pages/login">Sign In</a></li>
            <li class="s-btn"><a href="/static_pages/register">Sign Up</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <div class="about flex-box">
              <p>TOPCOACHING SOME TEXT HERE ABOUT US OUR MISSON MAYBE OR SOMETHING ELSE</p>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-3">
            <h2 class="foot-title">ABOUT</h2>
            <ul class="foot-link">
              <li><a href="#">Our Mission</a></li>
              <li><a href="#">Company</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-3">
            <h2 class="foot-title">SUPPORT</h2>
            <ul class="foot-link">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-3">
            <h2 class="foot-title">CONTACT</h2>
            <ul class="contact">
              <li><i class="zmdi zmdi-pin zmdi-hc-fw"></i> 77 Yundt Dam Apt. 899</li>
              <li><i class="zmdi zmdi-phone zmdi-hc-fw"></i> 080-530-3247</li>
              <li><i class="zmdi zmdi-email zmdi-hc-fw"></i> schultz_felicia@hotmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
